In [6]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By  
from bs4 import BeautifulSoup
import time

In [ ]:
Question 1:-

In [24]:
# Set up Edge WebDriver
edge_options = webdriver.EdgeOptions()
edge_options.use_chromium = True  # This enables using the Chromium-based Edge browser
driver = webdriver.Edge(options=edge_options)
driver.get('https://www.naukri.com/')
time.sleep(5)  # Wait for the page to load

# Locate the input field and search for 'Data Scientist'
designation = driver.find_element(By.CLASS_NAME, 'suggestor-input').send_keys('Data Scientist')

# search button click
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

time.sleep(5)  # Wait for the search results to loa

# Apply filters Location & Salray
driver.find_element(By.XPATH, "(//i[@class='ni-icon-unchecked'])[10]").click()  # Location filter
time.sleep(5)  # Wait for the filter to apply
driver.find_element(By.XPATH, "(//i[@class='ni-icon-unchecked'])[13]").click()  # Salary filter
time.sleep(5)  # Wait for the filter to apply

jobs = []
title_tags = driver.find_elements(By.XPATH, '//a[@class="title "]')
location_tags = driver.find_elements(By.XPATH, '//span[@class="locWdth"]')
company_tags = driver.find_elements(By.XPATH, '//div[@class=" row2"]/span/a[1]')
experience_tags = driver.find_elements(By.XPATH, '//span[@class="expwdth"]')

# Collect data for the first 10 jobs
for i in range(min(10, len(title_tags))):
    jobs.append({
        'Job Title': title_tags[i].text.strip(),
        'Location': location_tags[i].text.strip() if i < len(location_tags) else '',
        'Company': company_tags[i].text.strip() if i < len(company_tags) else '',
        'Experience': experience_tags[i].text.strip() if i < len(experience_tags) else ''
    })

# Create a DataFrame and save to CSV
df = pd.DataFrame(jobs)
df.to_csv('naukri_jobs.csv', index=False)

# Print the DataFrame
print(df)

# Close the WebDriver
driver.quit()

                      Job Title  \
0                Data Scientist
1                Data Scientist
2                Data Scientist
3                Data Scientist
4                Data Scientist
5
6
7
8  Data Scientist-Reinforcement
9                Data Scientist

                                            Location  \
0  Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...
1  Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...
2  Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...
3  Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...
4                Hybrid - Noida, Gurugram, Bengaluru
5                                           Gurugram
6         Mumbai, Pune, Chennai, Gurugram, Bengaluru
7                  Delhi / NCR, Hyderabad, Bengaluru
8                                           Gurugram
9  Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...

                                             Company Experience
0                              Futurism Technologies    3-7 Yrs
1                                     Nityo Infotech    3-7 Yrs
2                                     Nityo Infotech    3-7 Yrs
3                               Response Informatics    2-6 Yrs
4  One of the global analytics and digital soluti...    3-5 Yrs
5                                      Maruti Suzuki    4-7 Yrs
6                                     Neal Analytics    1-6 Yrs
7                                        Foreign MNC   6-11 Yrs
8                                           Jobpoint    4-7 Yrs
9                               Response Informatics    0-5 Yrs

In [ ]:
Question 2:-

In [78]:
edge_options = webdriver.EdgeOptions()
edge_options.use_chromium = True  # Use Chromium-based Edge
driver = webdriver.Edge(options=edge_options)

# Set an implicit wait time (e.g., 10 seconds)
driver.implicitly_wait(10)


# Step 1: Navigate to Shine website
driver.get('https://www.shine.com/')
time.sleep(5)

driver.find_element(By.CLASS_NAME,"input").click()
time.sleep(5)

# Step 2: Enter "Data Scientist" in the job search field
driver.find_element(By.XPATH, "//input[@id='id_q']").send_keys('Data Scientist')

# Step 3: Enter "Bangalore" in the location field
driver.find_element(By.ID, 'id_loc').send_keys('Bangalore')

# Step 4: Click the search button
driver.find_element(By.XPATH, '//button[@class=" btn btn-secondary undefined"]').click()

# Wait for the page to load
time.sleep(5)

# Step 5: Scrape job data for the first 10 results
job_titles = driver.find_elements(By.XPATH, "//strong[@class='jobCard_pReplaceH2__xWmHg']")[:10]
locations = driver.find_elements(By.XPATH, "//div[@class='jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']")[:10]
companies = driver.find_elements(By.XPATH, "//div[@class='jobCard_jobCard_cName__mYnow']")[:10]
experiences = driver.find_elements(By.XPATH, "//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t']")[:10]

# Collecting data
jobs = []
for i in range(10):
    job = {
        'Job Title': job_titles[i].text,
        'Location': locations[i].text,
        'Company': companies[i].text,
        'Experience': experiences[i].text
    }
    jobs.append(job)

# Step 6: Create a DataFrame and print the data
df = pd.DataFrame(jobs)
print(df)


# Save the results to a CSV file
df.to_csv('shine_job.csv', index=False)
# Close the driver
driver.quit()

                          Job Title       Location  \
0       Data Scientist In SINGAPORE  Bangalore\n+1
1                    Data Scientist  Bangalore\n+6
2               Lead Data Scientist  Bangalore\n+8
3                    Data Scientist  Bangalore\n+9
4                    Data Scientist  Bangalore\n+2
5                    Data Scientist      Bangalore
6            Data Science Analytics  Bangalore\n+7
7                 sql data analysis  Bangalore\n+1
8                      Data Analyst  Bangalore\n+4
9  Data Catalog with Data Goverance  Bangalore\n+8

                                  Company    Experience
0                   adal immigrations llp    3 to 8 Yrs
1                           techno endura    0 to 2 Yrs
2               spento papers (india) llp  12 to 22 Yrs
3                  future solution centre    2 to 7 Yrs
4  the christopher's consulting and re...    0 to 2 Yrs
5  eliterecruitments hiring for global...    4 to 8 Yrs
6  mackenzie modern it solutions priva...    5 to 8 Yrs
7         ikaya solutions private limited    3 to 6 Yrs
8                        aryan technology    0 to 4 Yrs
9                     ltimindtree limited   6 to 11 Yrs

In [ ]:
Question 3:-

In [48]:

 # Initialize Edge WebDriver with options
edge_options = webdriver.EdgeOptions()
edge_options.use_chromium = True  # Use Chromium-based Edge
driver = webdriver.Edge(options=edge_options)

# Set an implicit wait time (e.g., 10 seconds)
driver.implicitly_wait(10)

# Navigate to the iPhone 11 review page on Flipkart
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")
driver.implicitly_wait(10)

# Function to scrape reviews from the current page
def scrape_reviews():
    review_summaries = driver.find_elements(By.XPATH, "//p[@class='z9E0IG']") 
    ratings = driver.find_elements(By.XPATH, "//div[@class='XQDdHH Ga3i8K']")  
    full_reviews = driver.find_elements(By.XPATH, "//div[@class='ZmyHeo']")  
    
    reviews = []
    num_reviews = min(len(ratings), len(review_summaries), len(full_reviews))
    for i in range(num_reviews):
        reviews.append({
            'Rating': ratings[i].text,
            'Review Summary': review_summaries[i].text,
            'Full Review': full_reviews[i].text
        })
    return reviews

# Accumulate reviews across multiple pages
all_reviews = []
while len(all_reviews) < 100:  # Continue until we have 50 reviews
    # Scrape reviews from the current page
    all_reviews.extend(scrape_reviews())
    
    # Check if we have enough reviews, if not, click "Next" and proceed
    if len(all_reviews) < 100:
        try:
            # Locate and click the "Next" button
            next_button = driver.find_element(By.XPATH, "(//span[normalize-space()='Next'])[1]")
            next_button.click()
            time.sleep(5)  # Wait for the next page to load
        except Exception as e:
            print("No more pages or error in clicking Next:", e)
            break 

# Truncate reviews to exactly 50 (if we got more than 50)
all_reviews = all_reviews[:100]

# Create a DataFrame to store the reviews
df_reviews = pd.DataFrame(all_reviews)

# Print the DataFrame
print(df_reviews)

df_reviews.to_csv('df_reviews.csv', index=False)

# Close the browser
driver.quit()

   Rating       Review Summary  \
0       5             Terrific
1       5  Best in the market!
2       5       Classy product
3       5    Worth every penny
4       5    Terrific purchase
..    ...                  ...
95      5            Excellent
96      5     Perfect product!
97      5            Brilliant
98      5            Must buy!
99      5             Terrific

                                          Full Review
0                                      Very very good
1                                         Good Camera
2   Camera is awesome\nBest battery backup\nA perf...
3   Feeling awesome after getting the delivery of ...
4                                   Value for money 😍
..                                                ...
95  A perfect phone and a good battery super camer...
96                         Very nice iPhone 11 i lake
97                                    Fantastic phone
98                                          Excellent
99  Really worth of money. i just love it. It is t...

[100 rows x 3 columns]

In [ ]:
Question 4:-

In [49]:
# Initialize Edge WebDriver with options
edge_options = webdriver.EdgeOptions()
edge_options.use_chromium = True  # Use Chromium-based Edge
driver = webdriver.Edge(options=edge_options)

# Set an implicit wait time (e.g., 10 seconds)
driver.implicitly_wait(10)

# Open Flipkart
driver.get('https://www.flipkart.com/')
driver.find_element(By.NAME, 'q').send_keys('Sneakers')
driver.find_element(By.XPATH, "(//*[name()='svg'])[1]").click()

sneakers = []
max_items = 100  # Maximum number of items to scrape

# Loop to handle multiple pages
while len(sneakers) < max_items:
    # Retrieve elements
    brands = driver.find_elements(By.XPATH, "//div[@class='syl9yP']")
    descriptions = driver.find_elements(By.XPATH, "//a[contains(@class, 'WKTcLC')]")
    prices = driver.find_elements(By.XPATH, "//div[@class='Nx9bqj']")

    # Find the minimum length of the lists to avoid index errors
    num_items = min(len(brands), len(descriptions), len(prices), max_items - len(sneakers))

    # Collect data into a list of dictionaries
    for i in range(num_items):
        sneakers.append({
            'Brand': brands[i].text,
            'Description': descriptions[i].text,
            'Price': prices[i].text
        })

    # Check if we have reached the max_items limit
    if len(sneakers) >= max_items:
        break

    # Check if there is a "Next" button
        next_button = driver.find_element(By.XPATH, "//a[@class='_9QVEpD']")  
        time.sleep(3)  # Wait for the next page to load
   

# Create a DataFrame and display the results
df_sneakers = pd.DataFrame(sneakers[:max_items])  # Limit to max_items
print(df_sneakers)

# Save the results to a CSV file
df_sneakers.to_csv('sneakers_data.csv', index=False)

# Close the browser
driver.quit()

           Brand                                        Description    Price
0       Red Tape                                   Sneakers For Men   ₹2,459
1       Red Tape  Casual Sneaker Shoes For Men | Stylish and Com...   ₹1,679
2       Red Tape  Casual Sneaker Shoes for Men | Elegantly Round...   ₹1,769
3           ATOM               Spring Edge Alpha 2 Sneakers For Men     ₹999
4       Red Tape  Casual Sneaker Shoes For Men | Enhanced Comfor...   ₹1,679
..           ...                                                ...      ...
95  UNDER ARMOUR                                   Sneakers For Men  ₹13,799
96      Red Tape  Lifestyle Sneaker Shoes for Men | Soft Cushion...   ₹1,539
97      Red Tape  Casual Lifestyle Sneakers for Men | Soft Cushi...   ₹1,829
98         asian  Casual Sneaker Shoes for Men | Soft Cushioned ...   ₹1,272
99         WROGN                                   Sneakers For Men   ₹1,049

[100 rows x 3 columns]

In [ ]:
Question 5:-

In [50]:
edge_options = webdriver.EdgeOptions()
edge_options.use_chromium = True  # Use Chromium-based Edge
driver = webdriver.Edge(options=edge_options)

# Set an implicit wait time (e.g., 10 seconds)
driver.implicitly_wait(10)

driver.get('https://www.amazon.in/')
driver.find_element(By.ID, 'twotabsearchtextbox').send_keys('Laptop')
driver.find_element(By.ID, 'nav-search-submit-button').click()

# Apply Intel Core i7 filter
driver.find_element(By.XPATH, "//span[text()='Intel Core i7']").click()

# Scrape title, ratings, and price
titles = driver.find_elements(By.XPATH, "//span[@class='a-size-medium a-color-base a-text-normal']")
ratings = driver.find_elements(By.XPATH, "//span[@class='a-icon-alt']")
prices = driver.find_elements(By.XPATH, "//span[@class='a-price-whole']")

laptops = []
for i in range(10):
    laptops.append({
        'Title': titles[i].text,
        'Rating': ratings[i].text,
        'Price': prices[i].text
    })

df_laptops = pd.DataFrame(laptops)
print(df_laptops)

# Save the results to a CSV file
df_laptops.to_csv('laptop_data.csv', index=False)

# Close the browser
driver.quit()

                                               Title Rating   Price
0  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...         33,990
1  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...         43,990
2  Dell [Smartchoice] Inspiron 5430 Thin & Light ...         39,990
3  Dell 15 Thin & Light Laptop, Intel Core i5-123...         59,990
4  Acer Aspire Lite 12th Gen Intel Core i7-1255U ...         76,990
5  Acer ALG 13th Gen Intel Core i7 Gaming Laptop ...         75,490
6  (Refurbished) Dell Latitude 7480 14in FHD Lapt...         52,990
7  ASUS Vivobook 15, 15.6" (39.62cm) FHD, Intel C...         49,990
8  Acer Travelmate Business Laptop Intel Core i7-...         71,990
9  MSI Thin 15, Intel 13th Gen. Core i7-13620H, 4...         27,531

In [ ]:
Question 6:-

In [79]:
driver=webdriver.Chrome()
driver.get("https://www.azquotes.com/")
# clicking on top quotes
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
search.click()                                                           
quotes=[]
authors=[]
types_ofQ=[]
for page in range(0,10):
    quote=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote:
        quotes.append(i.text)                #scraping top quotes
# to scrape multiple page data using next button
search1=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
search1.click()
for page in range(0,10):
    author=driver.find_elements(By.XPATH,'//div[@class="author"]/a')
    for i in author:
        authors.append(i.text)                #scraping Authors name
# to scrape multiple page data using next button
search1=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
search1.click()
for page in range(0,10):
    types=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in types:
        types_ofQ.append(i.text)                #scraping type of quote
# to scrape multiple page data using next button
search1=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
search1.click()
df=pd.DataFrame({'Top_quotes':quotes[0:1000],'Authors':authors[0:1000],'Types':types_ofQ[0:1000]})
df                                 # creating dataframe

,Top_quotes,Authors,Types
0,The essence of strategy is choosing what not t...,Neltje Blanchan,"Inspirational, Life, Success"
1,One cannot and must not try to erase the past ...,Henry Ford,"Peace, War, Government"
2,Patriotism means to stand by the country. It d...,Saint Augustine,"Life, Strength, Courage"
3,Death is something inevitable. When a man has ...,Arthur Rubinstein,"Positive, Family, Trust"
4,You have to love a nation that celebrates its ...,George Mason,"Inspirational, Life, Motivational"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Jim Rohn,"Love, Inspirational, Motivational"
996,When a train goes through a tunnel and it gets...,Henry Ford,"Gun, Two, Qualms About"
997,If you think you are too small to make a diffe...,Robin Williams,"Inspirational, Greatness, Best Effort"
998,"God doesn't require us to succeed, he only req...",Margaret Walker,"Spiritual, Truth, Yoga"
999,Change your thoughts and you change your world.,Winston Churchill,"Inspirational, Leadership, Education"

In [ ]:
Question 7:-

In [67]:
driver=webdriver.Chrome()
driver.get("https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1")
names=[]
borndead=[]
term_of_office=[]
remarks=[]
name=driver.find_elements(By.XPATH,'//div[@class="TableData"]//tr//td[2]')

for i in name:
    names.append(i.text)  # scraping names of PM
born_dead=driver.find_elements(By.XPATH,'//div[@class="TableData"]//tr//td[3]')

for i in born_dead:
    borndead.append(i.text)  # scraping born_dead date
terms=driver.find_elements(By.XPATH,'//div[@class="TableData"]//tr//td[4]')

for i in terms:
    term_of_office.append(i.text)  # scraping term of office
remark=driver.find_elements(By.XPATH,'//div[@class="TableData"]//tr//td[5]')

for i in remark:
    remarks.append(i.text)  # scraping remarks
df=pd.DataFrame({'NAME':names[0:19],'BnD':borndead[0:19],'TERM':term_of_office[0:19],'REMARKS':remarks[0:19]})
df                                 # creating dataframe

,NAME,BnD,TERM,REMARKS
0,Name,Age when assumed office,Term of office,Duration
1,Jawaharlal Nehru,"57 years, 274 days",15 August1947,27 May 1964
2,Gulzarilal Nanda,"65 years, 328 days",27 May 1964,9 June 1964
3,Lal Bahadur Shastri,"62 years, 250 days",9 June 1964,11 January 1966
4,Gulzarilal Nanda,"67 years, 191 days",11 January 1966,24 January 1966
5,Indira Gandhi,"48 years, 66 days",24 January 1966,24 March 1977
6,Morarji Desai,"81 years, 24 days",24 March 1977,28 July 1979
7,Charan Singh,"76 years, 217 days",28 July 1979,14 January 1980
8,Indira Gandhi,"62 years, 56 days",14 January 1980,31 October 1984
9,Rajiv Gandhi,"40 years, 72 days",31 October 1984,2 December 1989
10,Vishwanath Pratap Singh,"58 years, 160 days",2 December 1989,10 November 1990
11,Chandra Shekhar,"63 years, 207 days",10 November 1990,21 June 1991
12,P. V. Narasimha Rao,"69 years, 358 days",21 June 1991,16 May 1996
13,Atal Bihari Vajpayee,"71 years, 143 days",16 May 1996,1 June 1996
14,H. D. Deve Gowda,"63 years, 14 days",1 June 1996,21 April 1997
15,Inder Kumar Gujral,"77 years, 138 days",21 April 1997,19 March 1998
16,Atal Bihari Vajpayee,"73 years, 84 days",19 March 1998,22 May 2004
17,Manmohan Singh,"71 years, 239 days",22 May 2004,26 May 2014
18,Narendra Modi,"63 years, 251 days",26 May 2014,Incumbent

In [ ]:
Question 8:-

In [74]:
driver=webdriver.Chrome()
driver.get("https://www.motor1.com")
get=driver.find_element(By.XPATH,'//input[@class="m1-search-panel-input m1-search-form-text"]').send_keys('50 most expensive cars')
#clicking on search button
WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, "//button[@class='m1-search-panel-button m1-search-form-button-animate icon-search-svg']"))).click()                                                  
desired_link = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, "//a[@class='text']")))
desired_link.click()

# Wait for the new page to load fully
WebDriverWait(driver, 15).until(EC.presence_of_element_located((By.XPATH, "//h3[@class='subheader']")))

# Step 5: Extract car names and prices
car_names = driver.find_elements(By.XPATH, "//h3[@class='subheader']")
prices = driver.find_elements(By.XPATH, '//strong[contains(text(), "Price:")]')

# Step 7: Store the data in a list
expensive_cars = []
num_cars = min(len(car_names), len(prices))  # Use the smaller of the two lists

for i in range(num_cars):
    expensive_cars.append({
        'Car Name': car_names[i].text,
        'Price': prices[i].text
    })

# Step 8: Create a Pandas DataFrame from the scraped data
df = pd.DataFrame(expensive_cars)
print(df)

# Save the DataFrame to a CSV file
df.to_csv('expensive_cars.csv', index=False)

# Step 9: Quit the driver
driver.quit()

                                     Car Name                        Price
0                           McLaren Senna GTR          Price: $1.7 Million
1                                 Czinger 21C          Price: $1.7 Million
2                               Ferrari Monza          Price: $1.7 Million
3                          Gordon Murray T.33          Price: $1.7 Million
4                           Koenigsegg Gemera          Price: $1.8 Million
5                          Hennessey Venom F5          Price: $1.9 Million
6                             Bentley Bacalar          Price: $1.9 Million
7               Hispano Suiza Carmen Boulogne          Price: $2.0 Million
8                      Bentley Mulliner Batur          Price: $2.0 Million
9                                 SSC Tuatara          Price: $2.1 Million
10                                Lotus Evija          Price: $2.3 Million
11                        Aston Martin Vulcan          Price: $2.3 Million
12                                 Delage D12          Price: $2.3 Million
13                        Ferrari Daytona SP3          Price: $2.3 Million
14                          McLaren Speedtail          Price: $2.4 Million
15                               Rimac Nevera          Price: $2.5 Million
16                              Pagani Utopia          Price: $2.5 Million
17                       Pininfarina Battista          Price: $2.6 Million
18                         Gordon Murray T.50          Price: $2.6 Million
19                       Lamborghini Countach          Price: $2.7 Million
20              Hennessey Venom F5 Revolution          Price: $2.8 Million
21                   Mercedes-AMG Project One          Price: $3.0 Million
22                               Zenvo Aurora          Price: $3.0 Million
23                        Aston Martin Victor          Price: $3.2 Million
24                Hennessey Venom F5 Roadster          Price: $3.4 Million
25                           Koenigsegg Jesko          Price: $3.6 million
26                                 Aspark Owl          Price: $3.7 Million
27                      Aston Martin Valkyrie          Price: $3.9 Million
28                  W Motors Lykan Hypersport          Price: $4.5 Million
29                              McLaren Solus          Price: $4.7 Million
30                        Pagani Huayra Evo R          Price: $4.8 Million
31                           Lamborghini Sian          Price: $5.0 Million
32                           Koenigsegg CC850          Price: $5.8 Million
33            Bugatti Chiron Super Sport 300+          Price: $7.4 Million
34  Gordon Murray Automotive T.50s Niki Lauda          Price: $8.0 Million
35                  Pagani Huayra Roadster BC          Price: $9.0 Million
36                         Lamborghini Veneno         Price: $10.8 Million
37                             Bugatti Bolide         Price: $12.8 Million
38                  Pininfarina B95 Speedster         Price: $13.4 Million
39                            Bugatti Mistral  Price: $28.0 Million (est.)
40                               Bugatti Divo    Price: $30 Million (est.)